@import '../../../node_modules/easymde/dist/easymde.min.css';
// @import '../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';

.editor-container {
    width: 960px;
    height: 90vh;
}

.EasyMDEContainer .CodeMirror {
    border: none !important;
}
