@import '../../../node_modules/xterm/css/xterm.css';

.editor-container {
    position: relative;
}

.editor {
    width: 100vw;
    height: 100vh;

    position: relative;
    overflow-y: scroll;

    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre;
    hyphens: auto;

    .terminal.xterm {
        cursor: pointer;
    }
}

.ghost-cursor {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}
