@import '../../../node_modules/xterm/css/xterm.css';

.editor-container {
    position: relative;
}

.editor {
    width: 100vw;
    height: 100vh;

    position: relative;

    .terminal.xterm {
        cursor: pointer;
    }
}

.ghost-cursor {
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}
